In [1]:
import pandas as pd

In [36]:
data = pd.read_excel("Libro1.xlsx")
data
#Este data set consiste en las ventas de casas en Texas Estados unidos en 2022, especificamente enero 2022 hasta agosto 2022
#Las columnas solo sales(ventas en total), dollar vollume(volumen del dollar), average price(precio promedio de las casas), median price(la mediana del precio de las casas), total listing(cantidad de casas en el mercado).

,sales,dollar volume,average price,median price,Total listings,Months inventory
0,25.187,"9,438,420,246",374.734,313.187,38.784,1.1
1,27.464,"10,682,058,380",388.948,325.000,36.535,1.0
2,35.468,"14,448,748,835",407.374,335.000,37.831,1.1
3,34.127,"14,690,152,152",430.455,349.900,44.090,1.3
4,36.831,"16,315,572,852",442.985,360.000,52.838,1.5
5,37.521,"16,434,280,482",438.002,360.000,70.097,2.0
6,32.704,"13,793,984,917",421.783,350.000,82.598,2.4
7,33.990,"14,115,199,102",415.275,344.900,85.535,2.5
8,31.017,"12,775,800,418",411.897,343.168,90.198,2.7

In [35]:
data.shape

(9, 6)

callnames= data.columns.values.tolist()
predictors= callnames[2:6]

In [23]:
predictors

['average price', 'median price', 'Total listings', 'Months inventory']

In [24]:
target=callnames[0]
target

'sales'

In [25]:
x = data[predictors]
y = data[target]

In [26]:
from sklearn.tree import DecisionTreeRegressor

In [27]:
regtree = DecisionTreeRegressor(min_samples_split=30, min_samples_leaf=10, max_depth=5, random_state=0)

In [28]:
regtree.fit(x,y)

DecisionTreeRegressor(max_depth=5, min_samples_leaf=10, min_samples_split=30,
                      random_state=0)

In [29]:
preds = regtree.predict(data[predictors])

In [30]:
data["preds"] = preds

In [31]:
data[["preds", "sales"]]

    preds   sales
0  32.701  25.187
1  32.701  27.464
2  32.701  35.468
3  32.701  34.127
4  32.701  36.831
5  32.701  37.521
6  32.701  32.704
7  32.701  33.990
8  32.701  31.017

#La prediccion es un numero constante que se acerca a las ventas reales por lo cual podemos dar la prediccion como buena ya que se acerca a los valores reales